{% extends "base.html" %}

{% load staticfiles %}


{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}


{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>


   <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Actual</h1>
                        <h3>advanced software solutions for fiduciary investment advice</h3>
                        <hr class="intro-divider">
                       <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a> 
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

